<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FACEIT STATS</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>FACEIT STATS LOOKUP</h1>
    <form action="/stats" method="GET">
      <label>ENTER FACEIT USERNAME:</label>
      <input type="text" name="username" required autocomplete="off">
      <button type="submit">SEARCH</button>
    </form>
  </body>
</html>
