<!DOCTYPE html>
<html>
  <head>
    <title>Faceit Stats</title>
  </head>
  <body>
    <form action="/faceit" method="get">
      <label for="username">Enter Faceit username:</label>
      <input type="text" name="username" id="username">
      <button type="submit">Get Stats</button>
    </form>
  </body>
</html>